@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
}
body
{
	font-family: Arial, sans-serif;
	background-color:rgb(233, 241, 205);
	margin: 0;
}
form
{
	height: 30px;
	display: flex;
	justify-content: right;
	align-items: center;
	padding-right: 15px;
	background-color: rgba(0, 0, 0, 0.4);
}
#log
{
	margin: 0 10px 0 10px;
	background-color: rgb(200, 209, 166);
	padding: 1px 4px 1px 4px;
	border: 1px black solid;
}
#log:hover, #subscribe:hover
{
	background-color: white;
	text-decoration: underline;
}
#subscribe
{
	background-color: rgb(200, 209, 166);
	padding: 1px 4px 1px 4px;
	border: 1px black solid;
	color: black;
	text-decoration: none;
	font-size: 0.8em;
}
#check
{
	display: flex;
	justify-content: right;
	align-items: center;
}
#checkbox_background
{
	background-color: rgba(0, 0, 0, 0.4);
}
label
{
	font-size: 0.8em;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 3px 4px 2px 3px;
}
header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 15px 15px 35px 15px;
	border-bottom: 1px grey solid;
}
#logo
{
	display: flex;
	border: 6px black double;
	border-radius: 80%;
	padding: 12px;
	background-image: url(images/fond_logo.png);
}
#logo img
{
	width: 60px;
	height: 60px;
	margin-bottom: 8px;
}
#logo h1
{
	font-family: BallparkWeiner;
	font-size: 1.3em;
	font-weight: normal;
	margin: 24px 0 0 7px;
}
nav
{
	display: flex;
	justify-content: space-around;
	width: 32%;
	border: 1px grey solid;
	border-radius: 25px;
	padding-top: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 1px 1px 1px grey inset;
	margin-bottom: -15px;
}
nav a
{
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}
nav a:hover
{
	text-decoration: underline;
}
section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0 100px 0;
}
#banniere_fond
{
	position: relative;
	height: 300px;
	width: 1010px;
	border: 1px grey solid;
	border-radius: 30px;
	background: url(images/iguanodon.png);
	box-shadow: 1px 1px 1px grey;
	margin-bottom: 80px;
}
#banniere_description
{
	position: absolute;
	right: 0;
	height: 300px;
	width: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 1.2em;
	color: white;
	text-align: center;
	border-left: 1px black solid;
	border-radius: 0 30px 30px 0;
	background-color: rgba(255, 255, 255, 0.3);
}
#banniere_description a
{
	color: white;
	text-decoration: none;
}
#banniere_description a:hover
{
	text-decoration: underline;
}
#banniere_description img
{
	position: absolute;
	bottom: 52px;
	right: 20px;
}
#sous_section
{
	display: flex;
	justify-content: space-between;
	width: 95%;
}
#main
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	height: 513px;
}
#l1
{
	display: flex;
	justify-content: space-between;
}
#a1
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	height: 255px;
	border: 1px grey solid;
	border-radius: 25px;
	background-image: url(images/jungle.png);
	background-position: -8px -10px;
	box-shadow: 1px 1px 1px grey;
}
#a1 h2
{
	font-size: 1.3em;
	margin-top: -3px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	padding: 2px;
}
#a1 p
{
	width: 150px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
}
video
{
	width: 100%;
}
#bloc_video
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 35%;
	font-size: 0.8em;
	text-align: center;	
	font-weight: bold;
	padding: 25px 5px 8px 5px;
	border: 1px grey solid;
	border-radius: 25px;
	box-shadow: 1px 1px 1px grey;
	background-color: rgb(200, 209, 166);
}
#l2
{
	position: relative;
	background-image: url(images/panorama.png);
	background-position: 0 -175px;
	height: 225px;
	border: 1px grey solid;
	border-radius: 25px;
	box-shadow: 1px 1px 1px grey;
}
table
{
	position: absolute;
	right: 10px;
	top: 47px;
	border-collapse: collapse;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}
caption
{
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
}
td, th
{
	border: 1px solid black;
	padding: 2px 5px 2px 5px;
}
table a
{
	text-decoration: none;
}
table a:hover
{
	text-decoration: underline;
}
table a:visited
{
	color: blue;
}
aside
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 510px;
	width: 15%;
	border: 1px grey solid;
	border-radius: 25px;
	background-color: rgb(200, 209, 166);
	box-shadow: 1px 1px 1px grey;
}
aside h2
{
	font-size: 0.75em;
	text-align: center;
}
aside ul
{
	font-size: 0.65em;
	margin-left: -24px;
}
aside ul li
{
	margin-bottom: 20px;
}
em
{
	font-weight: bold;
}
aside img
{
	border: 1px black solid;
	border-radius: 25px;
	width: 80%;
	margin-bottom: 15px;
}
footer
{
	display: flex;
	justify-content: space-around;
	border-top: 1px grey solid;
	background-color: rgb(200, 209, 166)
}
footer h1
{
	font-size: 1em;
	text-align: center;
}
footer ul
{
	margin-left: -40px;
}
footer li
{
	margin-bottom: 5px;
}
footer a
{
	color: black;
	text-decoration: none;
}
footer a:hover
{
	text-decoration: underline;
}
footer p
{
	display: flex;
	justify-content: space-around;
	margin: 25px 0 0 2px;
}
@media all and (max-width: 1255px)
{
	nav
	{
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		height: 100px;
		border: none;
		padding: 0;
		background: none;
		box-shadow: none;
	}
	nav a
	{
		border-radius: 15px;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 2px 7px 0 7px;
	}
	nav a:hover
	{
		text-decoration: none;
		background-color: rgba(255, 255, 255, 1);
	}
	#banniere_fond
	{
		width: 80%;
	}
	#bloc_video
	{
		justify-content: space-evenly;
	}
	video
	{
		margin-bottom: 15px;
	}
}
