/*GENERAL*/
@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
    	 url('polices/ballpark.woff') format('woff'),
    	 url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
}
body {
	font-family: Arial, sans-serif;
	color: grey;
	text-align: center;
	margin: 0;
}
.bloc {
	background-color: rgb(233, 241, 205);
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;
	margin-bottom: 130px;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&--column {
		flex-direction: column;
		justify-content: space-around;
	}
}
a, .form__btn {
	color: grey;
	text-decoration: none;
	&:hover {
		color: black;
		text-decoration: underline;
	}
}
.article {
	height: 350px;
	width: 100%;
	justify-content: space-around;
}
caption, h4 {
	caption-side: bottom;
	font-weight: normal;
	font-style: italic;
	margin-top: 15px;
}

/*FORM*/
.form {
	position: absolute;
	top: 0;
	height: 30px;
	width: 100%;
	justify-content: right;
	background-color: rgba(0, 0, 0, 0.2);
	input, &__a {
		margin: 0 5px 0 5px;
	}
	&__btn, &__a {
		font-size: 0.8em;
		padding: 1px 4px 1px 4px;
		border: 1px black solid;
		&:hover {
			background-color: white;
			cursor: pointer;
		}
	}
	&__checkbox {
		position: absolute;
		top: 30px;
		color: white;
		font-size: 0.8em;
		background-color: rgba(0, 0, 0, 0.2);
		padding: 1px 5px 2px 0;
	}
}

/*LOGO*/
.logo {
	color: black;
	background-image: url(images/fond_logo.png);
	padding: 12px;
	border: 6px black double;
	border-radius: 100%;
	margin: 55px 0 25px 20px;
	img {
		width: 60px;
		height: 60px;
		margin: 0 10px 8px 0;
	}
	h1 {
		font-family: BallparkWeiner;
		font-size: 1.3em;
		font-weight: normal;
		margin-top: 16px;
	}
}

/*NAV*/
nav {
	position: absolute;
	top: 155px;
	right: 25px;
	width: 28%;
	font-size: 1.3em;
}

/*BANNER*/
.banner__background {
	position: relative;
	height: 300px;
	width: 75%;
	max-width: 1000px;
	background: url(images/iguanodon.png);
	border-radius: 25px;
}
.banner__description {
	position: absolute;
	right: 0;
	height: 300px;
	width: 220px;
	color: white;
	font-size: 1.2em;
	background-color: rgba(255, 255, 255, 0.3);
	border-left: 1px black solid;
	border-radius: 0 25px 25px 0;
	a { 									/*WHY NOT BY-PASSED ?*/
		color: white;
	}
	img {
		position: absolute;
		bottom: 58px;
		right: 45px;
	}
}

/*TABLE*/
th, td {
	padding: 8px 20px 8px 20px;
	border-bottom: 1px dotted grey;
}

/*BIO*/
.bio img {
	height: 150px;
	border-radius: 25px;
	margin: 0 -10px -22px 0;
}
.bio ul {
	font-size: 0.8em;
	text-align: left;
	li {
		padding-top: 21px;
	}
}

/*FOOTER*/







/*RESPONSIVE*/
@media all and (max-width: 1255px) {
	nav {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		height: 100px;
		border: none;
		padding: 0;
		background: none;
		box-shadow: none;
	}
	nav a {
		border-radius: 15px;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 2px 7px 0 7px;
	}
	nav a:hover {
		text-decoration: none;
		background-color: rgba(255, 255, 255, 1);
	}
	#banniere_fond {
		width: 80%;
	}
	#bloc_video {
		justify-content: space-evenly;
	}
	video {
		margin-bottom: 15px;
	}
}