/*GENERAL*/
@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
    	 url('polices/ballpark.woff') format('woff'),
    	 url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
}
body {
	font-family: Arial, sans-serif;
	color: grey;
	text-align: center;
	margin: 0;
}
.green {
	background-color: rgb(233, 241, 205);
}
.border {
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.column {
	flex-direction: column;
	justify-content: space-around;
}
a, .form__btn {
	color: grey;
	text-decoration: none;
}
a:hover, .form__btn:hover {
	color: black;
	text-decoration: underline;
}
/*/GENERAL*/
/*FORM*/
.form {
	position: absolute;
	top: 0;
	height: 30px;
	width: 100%;
	justify-content: right;
	background-color: rgba(0, 0, 0, 0.3);
}
form input, form a {
	margin: 0 5px 0 5px;
}
.form__btn, form a {
	font-size: 0.8em;
	padding: 1px 4px 1px 4px;
	border: 1px black solid;
}
.form__btn:hover, form a:hover {
	background-color: white;
	cursor: pointer;
}
.form__checkbox {
	position: absolute;
	top: 30px;
	color: white;
	font-size: 0.8em;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1px 5px 2px 0;
}
/*/FORM*/
/*LOGO*/
.logo {
	color: black;
	background-image: url(images/fond_logo.png);
	padding: 12px;
	border: 6px black double;
	border-radius: 100%;
	margin: 55px 0 25px 20px;
}
.logo img {
	width: 60px;
	height: 60px;
	margin: 0 10px 8px 0;
}
.logo h1 {
	font-family: BallparkWeiner;
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 16px;
}
/*/LOGO*/
/*NAV*/
nav {
	position: absolute;
	top: 155px;
	right: 25px;
	width: 28%;
	font-size: 1.3em;
}
/*/NAV*/
/*BANNER*/
.banner__background {
	position: relative;
	height: 300px;
	width: 75%;
	max-width: 1000px;
	background: url(images/iguanodon.png);
	border-radius: 25px;
	margin: 130px 0 130px 0;
}
.banner__description {
	position: absolute;
	right: 0;
	height: 300px;
	width: 220px;
	color: white;
	font-size: 1.2em;
	background-color: rgba(255, 255, 255, 0.3);
	border-left: 1px black solid;
	border-radius: 0 25px 25px 0;
}
.banner__description a {
	color: white;
}
.banner__description img {
	position: absolute;
	bottom: 58px;
	right: 45px;
}
/*/BANNER*/
/*ACTU*/
.actu {
	height: 350px;
	width: 100%;
}
video {
	width: 20%;
	border: 2px solid black;
}
/*/ACTU*/
#l2 {
	position: relative;
	background-image: url(images/panorama.png);
	background-position: 0 -175px;
	height: 225px;
	visibility: hidden;
}
table {
	position: absolute;
	right: 10px;
	top: 47px;
	border-collapse: collapse;
	background-color: rgba(255, 255, 255, 0.5);
}
caption {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
}
td, th {
	border: 1px solid black;
	padding: 2px 5px 2px 5px;
}
table a:visited {
	color: blue;
}
aside {
	align-items: center;
	height: 510px;
	width: 15%;
	visibility: hidden;
}
aside h2 {
	font-size: 0.75em;
	text-align: center;
}
aside ul {
	font-size: 0.65em;
	margin-left: -24px;
}
aside ul li {
	margin-bottom: 20px;
}
em {
	font-weight: bold;
}
aside img {
	border: 1px black solid;
	border-radius: 25px;
	width: 80%;
	margin-bottom: 15px;
}
footer {
	justify-content: space-around;
}
@media all and (max-width: 1255px) {
	nav {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		height: 100px;
		border: none;
		padding: 0;
		background: none;
		box-shadow: none;
	}
	nav a {
		border-radius: 15px;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 2px 7px 0 7px;
	}
	nav a:hover {
		text-decoration: none;
		background-color: rgba(255, 255, 255, 1);
	}
	#banniere_fond {
		width: 80%;
	}
	#bloc_video {
		justify-content: space-evenly;
	}
	video {
		margin-bottom: 15px;
	}
}