/*GENERAL*/
@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
    	 url('polices/ballpark.woff') format('woff'),
    	 url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
}
body {
	font-family: Arial, sans-serif;
	color: grey;
	text-align: center;
	margin: 0;
}
.bloc {
	background-color: rgb(233, 241, 205);
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;
	margin-bottom: 150px;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex--column {
	flex-direction: column;
	justify-content: space-around;
}
a, .form__btn {
	color: grey;
	text-decoration: none;
}
a:hover, .form__btn:hover {
	color: black;
	text-decoration: underline;
}
.article {
	height: 350px;
	width: 100%;
	justify-content: space-around;
}
h4, caption {
	caption-side: bottom;
	font-weight: normal;
	font-style: italic;
	margin-top: 15px;
}

/*FORM*/
.form {
	position: absolute;
	top: 0;
	height: 30px;
	width: 100%;
	justify-content: right;
	background-color: rgba(0, 0, 0, 0.2);
}
.form input, .form__a {
	margin: 0 5px 0 5px;
}
.form__btn, .form__a {
	font-size: 0.8em;
	padding: 1px 4px 1px 4px;
	border: 1px black solid;
}
.form__btn:hover, .form__a:hover {
	background-color: white;
	cursor: pointer;
}
.form__checkbox {
	position: absolute;
	top: 30px;
	color: white;
	font-size: 0.8em;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 1px 5px 2px 0;
}

/*LOGO*/
.logo {
	color: black;
	background-image: url(images/fond_logo.png);
	padding: 12px;
	border: 6px black double;
	border-radius: 100%;
	margin: 55px 0 25px 20px;
}
.logo img {
	width: 60px;
	height: 60px;
	margin: 0 10px 8px 0;
}
.logo h1 {
	font-family: BallparkWeiner;
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 16px;
}

/*NAV*/
.nav {
	position: absolute;
	top: 155px;
	right: 25px;
	min-width: 28%;
	font-size: 1.3em;
}

/*BANNER*/
.banner__background {
	position: relative;
	height: 300px;
	width: 75%;
	max-width: 1000px;
	background: url(images/iguanodon.png);
	border-radius: 25px;
}
.banner__description {
	position: absolute;
	right: 0;
	height: 300px;
	width: 220px;
	color: white;
	font-size: 1.2em;
	background-color: rgba(255, 255, 255, 0.3);
	border-left: 1px black solid;
	border-radius: 0 25px 25px 0;
}
.banner__description a { 					/*WHY NOT BY-PASSED ?*/
	color: white;
}
.banner__description img {
	position: absolute;
	bottom: 58px;
	right: 45px;
}

/*ARTICLE*/
.article p {
	max-width: 80%;
}

/*TABLE*/
th, td {
	padding: 8px 15px 8px 15px;
	border-bottom: 1px dotted grey;
}

/*BIO*/
.bio img {
	height: 150px;
	border-radius: 25px;
	margin: 0 -10px -22px 0;
}
.bio ul {
	font-size: 0.8em;
	text-align: left;
}
.bio ul li {
	padding-top: 21px;
}

/*FOOTER*/
.footer {
	justify-content: space-around;
	align-items: flex-start;
	padding-bottom: 15px;
	margin-bottom: 0;
}
.footer__partners {
	align-items: flex-start;
}
.footer__join {
	align-items: flex-end;
}

/*RESPONSIVE*/
@media all and (max-device-width: 440px) {
	body {
		font-size: 3em;
		background-color: rgb(204, 203, 201);
	}
	.form {
		display: none;
	}
	.logo {
		padding: 20px;
		margin-bottom: 60px;
	}
	.logo img {
		height: 100px;
		width: 100px;
	}
	.logo h1 {	
		margin-top: 50px;
	}
	.nav {
		margin: -32px 10px 0 0;
		font-size: 1.2em;
	}
	.nav a {
		padding-bottom: 15px;		
	}
	.banner__background {
		background-position: -70px 0;
	}
	.banner__description {
		width: 100%;
		height: 100px;
		bottom: -130px;
		color: grey;
		background-color: rgb(204, 203, 201);
	}
	.banner__description a {
		display: none;
	}
	.article {
		height: 750px;
		padding: 50px;
		margin: 130px 0 280px 0;
	}
	.article video {
		visibility: hidden;
	}
	.article:nth-child(3) {
		flex-direction: column;
		background-color: red;
		height: 1000px;
		margin-bottom: 500px;
	}
	.bio {
		align-self: flex-start;
		margin-left: 20px;
	}
	table {
		align-self: flex-end;
		margin-right: 20px;
	}
}
@media all and (max-width: 1000px) and (min-width: 441px) {
	.nav {
		top: 80px;
		right: 5px;
		height: 100px;
		min-width: 15%;
		flex-direction: column;
		align-items: flex-end;		
	}
	.banner__background {
		background-position: -70px 0;
	}
	.article:nth-child(3) {
		flex-direction: column;
		height: 550px;
	}
	.bio {
		align-self: flex-start;
		margin-left: 20px;
	}
	table {
		align-self: flex-end;
		margin-right: 20px;
	}
}
@media all and (max-width: 1120px) and (min-width: 1001px) {
	.nav {
		top: 80px;
		right: 5px;
		height: 100px;
		min-width: 15%;
		flex-direction: column;
		align-items: flex-end;		
	}
	.banner__background {
		background-position: -40px 0;
	}
}

